@use "../../../styles" as s;

app-business-hours-list {
  display: flex;
  flex: 1;
  min-width: var(--min-width);
  box-sizing: border-box
}

textarea {
  overflow-y: hidden;
  resize: none;
}

#therapist-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.form-section:not(#notes-section) {
  flex: 1 1 var(--min-width);
  min-width: var(--min-width);
  @include s.respond-to(md) {
    max-width: 450px;
  }
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-subsection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
}

#notes-section {
  flex: 1 1 100%;
  max-width: 100%;
  min-width: 100%;
  @include s.respond-to(md) {
    flex-basis: 400px;
    min-width: 400px;
    max-width: unset;
  }
}

#section-divider-vertical {
  display: none;
  @include s.respond-to(md) {
    display: block;
  }
}

#section-divider-horizontal {
  @include s.respond-to(md) {
    display: none;
  }
}

#notes {
  min-height: 200px;
}

.resizable-textarea {
  position: relative;
}

.mat-form-field-disabled {
  padding-top: 0 !important;
}

.resizable-textarea:not(.mat-form-field-disabled)::after {
  content: '↓'; /* Symbol unten */
  position: absolute;
  right: 8px;
  bottom: 20px;
  font-size: 14px;
  color: var(--mat-sys-on-surface-variant);
  user-select: none;
  pointer-events: none;
}

//@media (max-width: 862px) {
//@media (min-width: var(--breakpoint-md)) {
//#notes-section {
//  flex: 1 1 400px;
//  min-width: 400px;
//  max-width: unset;
//}

//#section-divider-horizontal {
//  display: none;
//}

//#section-divider-vertical {
//  display: block;
//}

//.form-section:not(#notes-section) {
//  max-width: 450px;
//}
//}

input:disabled, textarea:disabled {
  color: var(--mat-sys-on-surface) !important;
}
