@use "../../../styles" as s;

app-business-hours-list {
  display: flex;
  flex: 1;
  min-width: var(--min-width);
  box-sizing: border-box
}

textarea {
  overflow-y: hidden;
  resize: none;
}

#therapist-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.form-section:not(#notes-section) {
  flex: 1 1 var(--min-width);
  min-width: var(--min-width);
  @include s.respond-to(md) {
    max-width: 450px;
  }
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: var(--default-gap);
}

.form-subsection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--default-gap);
}

#notes-section {
  flex: 1 1 100%;
  max-width: 100%;
  min-width: 100%;
  @include s.respond-to(md) {
    flex-basis: 400px;
    min-width: 400px;
    max-width: unset;
  }
}

#section-divider-vertical {
  display: none;
  @include s.respond-to(md) {
    display: block;
  }
}

#section-divider-horizontal {
  @include s.respond-to(md) {
    display: none;
  }
}

.resizable-textarea {
  position: relative;
}

.mat-form-field-disabled {
  padding-top: 0 !important;
}

.resizable-textarea:not(.mat-form-field-disabled)::after {
  content: '↓'; /* Symbol unten */
  position: absolute;
  right: 0.5rem;
  bottom: 1.25rem;
  font-size: 0.875rem;
  color: var(--mat-sys-on-surface-variant);
  user-select: none;
  pointer-events: none;
}

input:disabled, textarea:disabled {
  color: var(--mat-sys-on-surface) !important;
}
