<ng-template #toolbarCenter>
  <app-search [searchControl]="searchControl" (search)="onSearch($event)" id="search-bar"/>
</ng-template>

<ng-template #toolbarButtons>
  <button mat-icon-button (click)="onSearchBtnClick()" id="search-btn">
    <mat-icon>search</mat-icon>
  </button>
  <button *ngIf="filterForm" mat-icon-button
          [matMenuTriggerFor]="filterMenu">
    <mat-icon>filter_list</mat-icon>
  </button>
  <mat-menu #filterMenu="matMenu">
    <ng-container *ngTemplateOutlet="filterButtons"/>
  </mat-menu>
  <button mat-icon-button
          [matMenuTriggerFor]="sortMenu">
    <mat-icon>sort</mat-icon>
  </button>
  <mat-menu #sortMenu="matMenu">
    <ng-container *ngTemplateOutlet="sortButtons"/>
  </mat-menu>
</ng-template>

<ng-template #sortButtons>
  <button mat-menu-item
          (click)="sortBy(SortingAlgorithm.RELEVANCE)"
          [ngClass]="{ selected: sortingAlgorithm === SortingAlgorithm.RELEVANCE }">
    <span>{{ `${OVERVIEW_PATH}.sort.relevance` | transloco }}</span>
  </button>
  <button mat-menu-item
          (click)="sortBy(SortingAlgorithm.NAME)"
          [ngClass]="{ selected: sortingAlgorithm === SortingAlgorithm.NAME }">
    <span>{{ `${OVERVIEW_PATH}.sort.name` | transloco }}</span>
  </button>
  <button mat-menu-item
          (click)="sortBy(SortingAlgorithm.STATUS)"
          [ngClass]="{ selected: sortingAlgorithm === SortingAlgorithm.STATUS }">
    <span>{{ `${OVERVIEW_PATH}.sort.requestStatus` | transloco }}</span>
  </button>
</ng-template>

<ng-template #filterButtons>
  <form [formGroup]="filterForm">
    <button mat-menu-item (click)="$event.stopPropagation(); toggleCheckbox('all'); filterTherapists(filterForm.value.all);">
      <mat-checkbox formControlName="all" style="pointer-events: none;">
        {{ `${OVERVIEW_PATH}.filters.all` | transloco }}
      </mat-checkbox>
    </button>
    @for (status of RequestStatus; track status) {
      <button mat-menu-item (click)="$event.stopPropagation(); toggleCheckbox(status); filterTherapists()">
        <mat-checkbox [formControlName]="status">
          <app-request-chip [value]="status"/>
        </mat-checkbox>
      </button>
    }
  </form>
</ng-template>

<ng-container #toolbarOverride='toolbarOverride' toolbarOverride (finished)="onToolbarOverrideFinished($event)"/>

<div>
  <div class="grid">
    @for (therapist of therapists$ | async; track therapist) {
      <app-card appLongPress [therapist]="therapist"
                (shortPress)="onCardClick(therapist)"
                (longPress)="onCardLongClick(therapist)"
                (updated)="reloadTherapists()"
                [ngClass]="{ selected: multiSelectToolbarOverride?.selectedTherapists!.includes(therapist!)}"/>
    }
  </div>
</div>
<button mat-fab color="primary" class="fab-button"
        [routerLink]="['new']">
  <mat-icon>add</mat-icon>
</button>


