<mat-card *ngIf="therapist" class="therapist-card">
  <mat-card-header>
    <mat-card-title>{{ therapist.name }}</mat-card-title>
    <mat-card-subtitle>
      <app-request-chip [value]="therapist.requestStatus"/>
    </mat-card-subtitle>
    <button mat-icon-button
            [matMenuTriggerFor]="contextMenu"
            (mousedown)="$event.stopPropagation()">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #contextMenu="matMenu">
      <button mat-menu-item
              (click)="onDeleteClicked()"
              (mousedown)="$event.stopPropagation()">
        <span>{{ `${CARD_PATH}.buttons.delete` | transloco }}</span>
      </button>
    </mat-menu>
  </mat-card-header>
  <mat-card-content>
    <p *ngIf="therapist.specialization as value" style="font-weight: var(--mat-sys-label-medium-weight)">{{ value }}</p>
    <p *ngIf="therapist.waitingTime?.toLocaleDateString() as value">{{ `${CARD_PATH + ".waitlist" | transloco}: ${value}` }} </p>
    <div *ngIf="therapist.phoneNumber as value" class="phone-row">
      <mat-icon>call</mat-icon>
      <p>{{ value }}</p>
    </div>
    <div *ngIf="therapist.emailAddress as value" class="email-row">
      <mat-icon>email</mat-icon>
      <p>{{ value }}</p>
    </div>
    <p *ngIf="therapist.contactTimes && therapist.contactTimes.length > 0">
      <app-business-hours-list [businessHours]="therapist.contactTimes" [disabled]="true"/>
    </p>
    <mat-card-actions>
      <button *ngIf="therapist.phoneNumber && therapist.emailAddress as value" mat-stroked-button class="email-button" (click)="sendEmail(value)"
              (mousedown)="$event.stopPropagation()"
              aria-label="Email">
        <mat-icon>email</mat-icon>
      </button>
      <button *ngIf="!therapist.phoneNumber && therapist.emailAddress as value" mat-flat-button class="email-button" (click)="sendEmail(value)"
              (mousedown)="$event.stopPropagation()"
              aria-label="Email">
        <mat-icon>email</mat-icon>
      </button>
      <button *ngIf="therapist.phoneNumber as value" mat-flat-button class="call-button" (click)="startCall(value)" (mousedown)="$event.stopPropagation()"
              aria-label="Call">
        <mat-icon>call</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
