@use '@angular/material' as mat;

mat-card {
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
  color: var(--mat-sys-on-surface-container);
  height: 100%;
}

mat-card:hover {
  @include mat.elevation(8)
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

mat-card-header button {
  padding: 2px !important;
}


