#user-menu-button {
  height: 36px !important;
  width: 36px !important;
}

.buttons button {
  height: 36px !important;
  width: 36px !important;
}

.mat-toolbar-row {
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}

.mat-toolbar-row div {
  display: inherit;
  align-items: inherit;
  gap: inherit;
}

